.navbar-brand img {
  height: 50px;
}

[class*="collapse-indicator"][aria-expanded="false"] .bi-chevron-up {
  display: none;
}

[class*="collapse-indicator"][aria-expanded="true"] .bi-chevron-down {
  display: none;
}

.eu-cookie-compliance-buttons {
	margin: 1em;
}

button.eu-cookie-compliance-default-button::before {
  content: "\2714"; /* ✔ Heavy Check Mark Emoji*/
  font-size: 180%;
}

.instruments-card .tab-messenger {
  font-size: 90%;
}

.menu--account a {
 text-decoration: none; 
}

.mmoda-resolve-message {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

span.card-header-toolbox span, span.card-header-toolbox a, span.card-header-toolbox button {
  padding-left: 0.5em;
}

.node--type-mmoda-help-page .book-navigation-bottom .book-toc {
  display: none;
}

@media (min-width: 1400px) {
  .path-frontpage main .container-xxl, .path-frontpage main .container-xl, .path-frontpage main .container-lg, .path-frontpage main .container-md, .path-frontpage main .container-sm, .path-frontpage main .container {
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .path-frontpage main .container-xl, .path-frontpage main .container-lg, .path-frontpage main .container-md, .path-frontpage main .container-sm, .path-frontpage main .container {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .path-frontpage main .container-lg, .path-frontpage main .container-md, .path-frontpage main .container-sm, .path-frontpage main .container {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .path-frontpage main .container-md, .path-frontpage main .container-sm, .path-frontpage main .container {
    max-width: 100%;
  }
}
@media (min-width: 576px) {
  .path-frontpage main .container-sm, .path-frontpage main .container {
    max-width: 100%;
  }
}

/** Very important **/
.invalid-feedback {
    display: inline-block;
}