span#resolve-src-name.form-group:after {
  padding-bottom: 15px;
}

input#edit-src-name {
  border-radius: 4px 0 0 4px;
}

.clearfix {
  display: inline;
}

.description_use_case_textarea {
  resize: none;
}

.description {
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}

.description ul li:first-child{
  margin-top: 0.5em;
}