.form-control {
  width: auto;
}

.common-params .form-control {
  width: 100%;
}

.views-more-link {
  display: block;
}

.mmoda-event-help-box {
  width: 10px;
  height: 10px;
}

.mmoda-user-menu {
  padding: 1em;
  float: right;
}

.navbar.container, .navbar.container-fluid {
  margin-top: 0px;
}

#block-system-user-menu {
  text-align: right;
}

#block-system-user-menu .nav>li {
  display: inline-block
}

.navbar-header .logo img {
  height: 50px;
}

span#resolve-src-name.form-group:after {
  padding-bottom: 15px;
}

input#edit-src-name {
  border-radius: 4px 0 0 4px;
}

.clearfix {
  display: inline;
}

.description-use-case-textarea {
  resize: none;
}

.description {
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}

.description ul li:first-child {
  margin-top: 0.5em;
}

.resizable-textarea .grippie {
  border: 0px;
  border-top-width: 0;
  height: 0px;
}

.mmoda-banner .views-field-created {
  margin-bottom: 1em
}

.mmoda-banner .views_slideshow_cycle_slide {
  width: 100% !important;
}

.mmoda-banner .views-slideshow-pager-fields {
  padding-left: 0;
  list-style-type: square;
}

.panel-title {
  display: inline-block;
}

.header-info .mmoda-alert {
  font-size: 2vw;
}

#block-system-user-menu ul>li a {
  display: inline-block;
}

#block-system-user-menu ul>li:not(.first)::before {
  content: "|";
  display: inline-block;
}

.btn-help {
  padding: 5px 8px;
}

.alert-default {
  background-color: #F5F5F5;
}

.category-4 {
  background-color: lightgreen;
}

.category-1 {
  background-color: #f2dede;
}

.mmoda-event-content {
  padding: 0.7em;
}

.mmoda-event-content h3 {
  margin-top: 0;
}

.mmoda-alert {
  vertical-align: top;
}

.views_slideshow_main {
  margin-bottom: 2em;
}

.mmoda-event-category {
  padding: 0.3em;
}
/*
.view-oda-events .views-slideshow-pager-fields  .views-slideshow-pager-field-item:not(:last-child)::after {
  content: "  |";
}
*/
.view-mmoda-events .views-slideshow-pager-field-item {
  /*display: block !important;*/
  display: list-item !important;
  list-style-type: square;
  list-style-position: inside;
  padding-left: 0;
}

.node-mmoda-help-page .book-navigation-bottom .book-toc{
    display: none;
}

.book-navigation {
  background-color: lightgray;
  padding: 4px;
}

button.eu-cookie-compliance-default-button::before {
  content: "\2714"; /* ✔ Heavy Check Mark Emoji*/
  font-size: 180%;
  
}

.btn.btn-primary[disabled] {
  border-color: #007d64;
  background-color: #007d64;
}

.alert-warning {
  color: darkred;
}

#edit-openid-connect-client-github-login {
  border-radius: 4px 0px 0px 4px !important;
}