.navbar-brand img {
  height: 50px;
}

[class*="collapse-indicator"][aria-expanded="false"] .bi-chevron-up {
  display: none;
}

[class*="collapse-indicator"][aria-expanded="true"] .bi-chevron-down {
  display: none;
}

.form-item label:not(.option), .instruments-card .tab-title {
  font-weight: bold;
}

.instruments-card .tab-messenger {
  font-size: 90%;
}

.menu--account a {
 text-decoration: none; 
}