// Sub theme styling.
@import 'variables_drupal';

// Colors
$primary: #007d64; // set the $primary variable

// Typography
//$font-size-base: 12px; // this changes the font-size throughout bootstrap
$font-family-sans-serif: "Open sans";
$font-size-base: 0.9rem;


//$line-height-base: 1.6;

// Bootstrap overriden variables.
// @see https://getbootstrap.com/docs/5.2/customize/sass/#variable-defaults.
@import 'variables_bootstrap';

// Include bootstrap.
@import '../../../../themes/contrib/bootstrap5/scss/style';
